{% extends 'myapp/layout.html' %}

{% load static %}

{% block title %}Hello{% endblock %}

{% block main %}
<div class="p-4 text-center">
    <h1 class="text-2xl lg:text-4xl text-indigo-800">Hello, friend!</h1>
    <div id="img-main" class="mt-10">
        <img class="transition duration-500 transform hover:scale-110 animate-pulse" src="{% static 'myapp/img/img_start.png'%}" alt="img">
    </div>
    <p class="text-xl lg:text-2xl text-indigo-800 mt-10">We'll listen to you! We'll talk to you! We'll help you!</p>
    <p class="text-xl lg:text-2xl text-indigo-800 mt-2">Just login or signup to start your journey!</p>
    <p class="text-xl lg:text-2xl text-indigo-800 mt-2">No ads! No distractions! Just you and your thoughts!</p>
</div>
{% endblock %}